struct json_object *
${decode}_to_json(struct dpack_decoder * decoder)
{
	struct json_object *object;
	${type} map;
	${type} iter;
	unsigned int i;
	int ret;

	ret = ${init}(&map);
	if (ret)
		return NULL;

	object = json_object_new_array();
	if (!object)
		return NULL;

	ret = ${decode}(decoder, &map);
	if (ret)
		goto put;

	stroll_bmap_foreach_set${stroll}(&iter, map, &i) {
		struct json_object *obj;

		obj = json_object_new_int((int)i);
		if (!obj)
			goto put;

		ret = json_object_array_add(object, obj);
		if (ret) {
			json_object_put(obj);
			goto put;
		}
	}
	return object;

put:
	json_object_put(object);
	return NULL;
}

int
${encode}_from_json(struct dpack_encoder * encoder,
		    struct json_object * object)
{
	${assert_fn}(encoder);
	${assert_fn}(object);
	
	int ret;
	${type} map;

	if (!json_object_is_type(object, json_type_array))
		return -EINVAL;

	ret = ${init}(&map);
	if (ret)
		return ret;

	for (unsigned int i = 0; i < json_object_array_length(object); i++) {
		struct json_object *tmp;
		int bit;

		tmp = json_object_array_get_idx(object, i);
		if (!tmp)
			return -EINVAL;

		errno = 0;
		bit = json_object_get_int(tmp);
		if (errno)
			return -errno;

		if ((bit < 0) || (bit >= ${size}))
			return -EINVAL;

		stroll_bmap_set${stroll}(&map, (unsigned int)bit);
	}

	ret = ${check}(map);
	if (ret)
		return ret;

	return ${encode}(encoder, map);
}
## ex: filetype=c
