/**
 * Minimum size in bytes of an ${type} serialized according to
 * the @rstsubst{MessagePack int format}.
 */
\#define ${pid.upper()}_PACKED_SIZE_MIN ($min_size)
	
/**
 * Maximum size in bytes of an ${type} serialized according to
 * the @rstsubst{MessagePack int format}.
 */
\#define ${pid.upper()}_PACKED_SIZE_MAX ($max_size)

## ex: filetype=c
