/**
 * Check if input is valid enum ${ident_name}
 *
 * @param[in] val The value to test
 *
 * @return an errno like error code
 * @retval 0       Success
 * @retval -EINVAL Invalid value
 */
int ${ident_name}_check(enum ${ident_name} val);
