/**
 * Minimum size in bytes of an ${type} serialized according to
 * the @rstsubst{MessagePack int format}.
 */
\#define ${pid.upper()}_PACKED_SIZE_MIN DPACK_INT_SIZE_MIN

/**
 * Maximum size in bytes of an ${type} serialized according to
 * the @rstsubst{MessagePack int format}.
 */
\#define ${pid.upper()}_PACKED_SIZE_MAX DPACK_INT_SIZE_MAX

/**
 * Number of elements in the ${type}
 */
#set $NB=len($entries)
\#define ${pid.upper()}_NB ${NB}

/**
 * @enum ${pid}
 * $getDoc()
 **/
${type} {
#for $e in $entries
	#if $e.hasDoc()
	/**
	 * $e.getDoc(8)
	 */
	#end if
	#if 'value' in $e
		${e.pid.upper()} = $e.value,
	#else
		${e.pid.upper()},
	#end if
#end for
};

/**
 * Convert ${type} to string format
 *
 * @param[in] value The value to convert
 *
 * @return a const string
 * @return NULL Invalid value
 */
extern const char *
${pid}_to_str(${type} value)
__warn_result ${deprecated};

/**
 * Search a string format of ${type}
 *
 * @param[in]  str   The string to research
 * @param[out] value The value founding
 *
 * @return an errno like error code
 * @retval 0       Success
 * @retval -EINVAL Invalid value
 */
extern int
${pid}_from_str(const char *str, ${type} *value)
 __${pre}nonull(1, 2) __warn_result ${deprecated};

/**
 * Copy to array all pointer constant string of ${type}
 *
 * @param[in] buf The buffer to copy
 * @param[in] nr  The buffer size
 *
 * @return number of elements added
 *
 * @warning
 * - When compiled with the #CONFIG_${lib.id.upper()}_ASSERT build option
 *   disabled and @p nr is lower than #${pid.upper()}_NB value, the
 *   result is undefined. An assertion is triggered otherwise.
 *
 * @see ${pid.upper()}_NB
 */
extern int
${pid}_dump_str(const char ** buf, size_t nr)
 __${pre}nonull(1) ${deprecated};
#if $app_check

/**
 * Applicative check if input is valid ${type}
 *
 * @param[in] value The value to test
 *
 * @return an errno like error code
 * @retval 0       Success
 * @retval -EINVAL Invalid value
 */
extern int
${app_check}(${type} value)
__${pre}nonull(1) __warn_result;
#end if

/**
 * Check if input is valid enum ${pid}
 *
 * @param[in] value The value to test
 *
 * @return an errno like error code
 * @retval 0       Success
 * @retval -EINVAL Invalid value
 */
static inline int __warn_result ${deprecated}
${check}(${type} value)
{
	if (${pid}_to_str(value) == NULL)
		return -EINVAL;

#if $app_check
	return ${app_check}(value);
#else
	return 0;
#end if
};

/**
 * Decode a enum ${pid} encoded according to the MessagePack format
 *
 * @param[inout] decoder decoder
 * @param[out]   value   location where to store decoded value
 *
 * @return an errno like error code
 * @retval 0         Success
 * @retval -EPROTO   Not a valid MessagePack stream
 * @retval -ENOTSUP  Unsupported MessagePack stream data
 * @retval -ENOMSG   Invalid MessagePack stream data type or range
 * @retval -EMSGSIZE Not enough space to complete operation
 * @retval -ENOMEM   Memory allocation failure
 *
 * @warning
 * - @p decoder *MUST* have been initialized using dpack_decoder_init_buffer()
 *   or dpack_decoder_init_skip_buffer() before calling this function. Result is
 *   undefined otherwise.
 * - When compiled with the #CONFIG_${lib.id.upper()}_ASSERT build option
 *   disabled and @p decoder is in error state before calling this function,
 *   result is undefined. An assertion is triggered otherwise.
 *
 * @sa
 * - dpack_decoder_init_buffer()
 * - dpack_decoder_init_skip_buffer()
 */
static inline int __${pre}nonull(1, 2) __nothrow __warn_result ${deprecated}
${decode}(struct dpack_decoder * decoder,
	  ${type} * __restrict value)
{
	${assert_fn}(decoder);
	${assert_fn}(value);

	int ret;

	ret = dpack_decode_int(decoder, (int *)value);
	if (ret)
		return ret;

	return ${check}(*value);
};

/**
 * Encode an enum ${pid} according to the MessagePack format
 * @param[inout] encoder encoder
 * @param[in]    value   enum ${pid} value to encode
 *
 * @return an errno like error code
 * @retval 0         Success
 * @retval -EMSGSIZE Not enough space to complete operation
 * @retval -ENOMEM   Memory allocation failure
 *
 * @warning
 * - @p encoder *MUST* have been initialized using dpack_encoder_init_buffer()
 *   before calling this function. Result is undefined otherwise.
 * - When compiled with the #CONFIG_${lib.id.upper()}_ASSERT build option
 *   disabled and @p decoder is in error state before calling this function,
 *   result is undefined. An assertion is triggered otherwise.
 *
 * @see
 * - dpack_encode_int8()
 * - dpack_encoder_init_buffer()
 */
static inline int __${pre}nonull(1) __nothrow __warn_result ${deprecated}
${encode}(struct dpack_encoder * encoder,
	  ${type} value)
{
	${assert_fn}(encoder);

	return dpack_encode_int(encoder, (int)value);
};

#if $json
/**
 * Decode a int encoded according to the MessagePack format
 *
 * @param[inout] decoder decoder
 *
 * @return an json-c object or NULL if error
 * @retval NULL      Error setted in errno.
 * @retval -EPROTO   Not a valid MessagePack stream
 * @retval -ENOTSUP  Unsupported MessagePack stream data
 * @retval -ENOMSG   Invalid MessagePack stream data type or range
 * @retval -EMSGSIZE Not enough space to complete operation
 * @retval -ENOMEM   Memory allocation failure
 *
 * @warning
 * - @p decoder *MUST* have been initialized using dpack_decoder_init_buffer()
 *   or dpack_decoder_init_skip_buffer() before calling this function. Result is
 *   undefined otherwise.
 * - When compiled with the #CONFIG_${lib.id.upper()}_ASSERT build option
 *   disabled and @p decoder is in error state before calling this function,
 *   result is undefined. An assertion is triggered otherwise.
 *
 * @see
 * - dpack_decoder_init_buffer()
 * - dpack_decoder_init_skip_buffer()
 */
extern struct json_object *
${decode}_to_json(struct dpack_decoder * decoder)
__${pre}nonull(1) __nothrow __warn_result ${deprecated};

/**
 * Encode an json string according to the MessagePack format
 * @param[inout] encoder encoder
 * @param[in]    object  json-object value to encode
 *
 * @return an errno like error code
 * @retval 0         Success
 * @retval -EMSGSIZE Not enough space to complete operation
 * @retval -ENOMEM   Memory allocation failure
 * @retval -EINVAL   Invalid value
 *
 * @warning
 * - @p encoder *MUST* have been initialized using dpack_encoder_init_buffer()
 *   before calling this function. Result is undefined otherwise.
 * - When compiled with the #CONFIG_${lib.id.upper()}_ASSERT build option
 *   disabled and @p decoder is in error state before calling this function,
 *   result is undefined. An assertion is triggered otherwise.
 *
 * @see
 * - dpack_encode_${dpack}()
 * - dpack_encoder_init_buffer()
 */
extern int
${encode}_from_json(struct dpack_encoder * encoder,
		    struct json_object * object)
__${pre}nonull(1, 2) __nothrow __warn_result ${deprecated};

#end if
## ex: filetype=c
