
extern struct json_object * __${pre}nonull(1) __nothrow __warn_result ${deprecated}
${decode}_to_json(struct dpack_decoder * decoder)
{
	${assert_fn}(decoder);

	int ret;
	${type} value;
	const char *str;

	ret = dpack_decode_int(decoder, (int *)&value);
	if (ret) {
		errno = -ret;
		return NULL;
	}

	str = ${pid}_to_str(value);
	if (!str) {
		errno = EINVAL;
		return NULL;
	}
	return json_object_new_string(str);
};

extern int __${pre}nonull(1, 2) __nothrow __warn_result ${deprecated}
${encode}_from_json(struct dpack_encoder * encoder,
		    struct json_object * object)
{
	${assert_fn}(encoder);
	${assert_fn}(object);

	int ret;
	const char * str;
	${type} value;

	errno = 0;
	str = json_object_get_string(object);
	if (errno)
		return -errno;

	ret = ${pid}_from_str(str, &value);
	if (ret)
		return ret;

	return dpack_encode_int(encoder, (int)value);
};
## ex: filetype=c
