
struct json_object *
${decode}_to_json(struct dpack_decoder * decoder)
{
	${assert_fn}(decoder);

	int ret;
	ssize_t nb;
	${type} value;
	struct json_object *object;
	const char *str[${pid.upper()}_NB];

	ret = ${init}(&value);
	if (ret)
		return NULL;

	ret = ${decode}(decoder, &value);
	if (ret)
		return NULL;

	object = json_object_new_array();
	if (!object)
		return NULL;

	nb = ${pid}_to_str(str, ${pid.upper()}_NB, value);
	if (nb < 0)
		goto put;

	for (ssize_t i = 0; i < nb; i++) {
		struct json_object *obj;

		obj = json_object_new_string(str[i]);
		if (!obj)
			goto put;

		ret = json_object_array_add(object, obj);
		if (ret) {
			json_object_put(obj);
			goto put;
		}
	}
	
	return object;

put:
	json_object_put(object);
	return NULL;
}

int
${encode}_from_json(struct dpack_encoder * encoder,
		    struct json_object * object)
{
	${assert_fn}(encoder);
	${assert_fn}(object);
	
	int ret;
	${type} map;

	if (!json_object_is_type(object, json_type_array))
		return -EINVAL;

	ret = ${init}(&map);
	if (ret)
		return ret;

	for (unsigned int i = 0; i < json_object_array_length(object); i++) {
		struct json_object *tmp;
		${type} value;
		const char * str;

		tmp = json_object_array_get_idx(object, i);
		if (!tmp)
			return -EINVAL;

		errno = 0;
		str = json_object_get_string(object);
		if (errno)
			return -errno;

		ret = ${pid}_from_str(str, &value);
		if (ret)
			return ret;

		map = stroll_bmap_or${stroll}(map, value);
	}

	ret = ${check}(map);
	if (ret)
		return ret;

	return ${encode}(encoder, map);
}
## ex: filetype=c
