#if $pattern
extern int __${pre}nonull(1) __warn_result ${deprecated}
${check}(const ${type} * value)
{
	${assert_fn}(value);

#if $lib.args.regex == 'pcre2'
	pcre2_code *re;
	pcre2_match_data *match_data;
	int err;
	int errornumber;
	PCRE2_SIZE erroroffset;

	if ($size < stroll_lvstr_len(value))
		return -EINVAL;

	re = pcre2_compile((PCRE2_SPTR)"${pattern}",
			   PCRE2_ZERO_TERMINATED,
			   0,
			   &errornumber,
			   &erroroffset,
			   NULL);
	${assert_fn}(re);
	if (!re)
		return -EAGAIN;

	match_data = pcre2_match_data_create_from_pattern(re, NULL);
	err = pcre2_match(re,
			  (PCRE2_SPTR)stroll_lvstr_cstr(value),
			  PCRE2_ZERO_TERMINATED,
			  0,
			  PCRE2_ANCHORED | PCRE2_ENDANCHORED,
			  match_data,
			  NULL);
	pcre2_code_free(re);
	pcre2_match_data_free(match_data);
	if (err < 0)
		return -EINVAL;
#else
	regex_t regex;
	int ret;

	if ($size < stroll_lvstr_len(value))
		return -EINVAL;

	ret = regcomp(&regex, "${pattern}", REG_EXTENDED | REG_NOSUB);
	if (ret)
		return -ret;

	ret = regexec(&regex, stroll_lvstr_cstr(value), 0, NULL, REG_NOTBOL | REG_NOTEOL);
	regfree(&regex);
	if (!ret)
		return -EINVAL;
#end if
#if $app_check
	return ${app_check}(value);
#else
	return 0;
#end if
}

#end if
## ex: filetype=c
