/**
 * Minimum size in bytes of an ${type} serialized according to
 * the @rstsubst{MessagePack int format}.
 */
\#define ${pid.upper()}_PACKED_SIZE_MIN DPACK_LVSTR_CONST_SIZE(1)

/**
 * Maximum size in bytes of an ${type} serialized according to
 * the @rstsubst{MessagePack int format}.
 */
\#define ${pid.upper()}_PACKED_SIZE_MAX DPACK_LVSTR_CONST_SIZE(${size})
#if $app_check

/**
 * Applicative check if input is valid ${type}
 *
 * @param[in] value The value to test
 *
 * @return an errno like error code
 * @retval 0       Success
 * @retval -EINVAL Invalid value
 */
extern int
${app_check}(const ${type} * value)
__${pre}nonull(1) __warn_result;
#end if

/**
 * Check if input is valid ${type}
 *
 * @param[in] value The value to test
 *
 * @return an errno like error code
 * @retval 0       Success
 * @retval -EINVAL Invalid value
 */
#if not $pattern
static inline int __${pre}nonull(1) __warn_result ${deprecated}
${check}(const ${type} * value)
{
	${assert_fn}(value);

	if ($size < stroll_lvstr_len(value))
		return -EINVAL;

#if $app_check
	return ${app_check}(value);
#else
	return 0;
#end if
};
#else
extern int
${check}(${type} * value)
__${pre}nonull(1) __warn_result ${deprecated};
#end if

/**
 * Decode a ${type} encoded according to the MessagePack format
 *
 * @param[inout] decoder decoder
 * @param[out]   value   location where to store decoded value
 *
 * @return an errno like error code
 * @retval 0         Success
 * @retval -EPROTO   Not a valid MessagePack stream
 * @retval -ENOTSUP  Unsupported MessagePack stream data
 * @retval -ENOMSG   Invalid MessagePack stream data type or range
 * @retval -EMSGSIZE Not enough space to complete operation
 * @retval -ENOMEM   Memory allocation failure
 *
 * @warning
 * - @p decoder *MUST* have been initialized using dpack_decoder_init_buffer()
 *   or dpack_decoder_init_skip_buffer() before calling this function. Result is
 *   undefined otherwise.
 * - When compiled with the #CONFIG_${lib.id.upper()}_ASSERT build option
 *   disabled and @p decoder is in error state before calling this function,
 *   result is undefined. An assertion is triggered otherwise.
 *
 * @see
 * - dpack_decoder_init_buffer()
 * - dpack_decoder_init_skip_buffer()
 */
static inline int __${pre}nonull(1, 2) __nothrow __warn_result ${deprecated}
${decode}(struct dpack_decoder * decoder,
	  ${type} * __restrict value)
{
	${assert_fn}(decoder);
	${assert_fn}(value);

	ssize_t ret;

	ret = dpack_decode_${dpack}_max(decoder, $size, value);
	if (ret < 0)
		return (int)ret;

	return ${check}(value);
};

/**
 * Encode an ${type} according to the MessagePack format
 * @param[inout] encoder encoder
 * @param[in]    value  ${pid} value to encode
 *
 * @return an errno like error code
 * @retval 0         Success
 * @retval -EMSGSIZE Not enough space to complete operation
 * @retval -ENOMEM   Memory allocation failure
 *
 * @warning
 * - @p encoder *MUST* have been initialized using dpack_encoder_init_buffer()
 *   before calling this function. Result is undefined otherwise.
 * - When compiled with the #CONFIG_${lib.id.upper()}_ASSERT build option
 *   disabled and @p decoder is in error state before calling this function,
 *   result is undefined. An assertion is triggered otherwise.
 *
 * @see
 * - dpack_encode_${dpack}()
 * - dpack_encoder_init_buffer()
 */
static inline int __${pre}nonull(1, 2) __nothrow __warn_result ${deprecated}
${encode}(struct dpack_encoder * encoder,
	  const ${type} * value)
{
	${assert_fn}(encoder);
	${assert_fn}(${check}(value) == 0);

	return dpack_encode_${dpack}(encoder, value);
};

#if $json
/**
 * Decode a ${type} encoded according to the MessagePack format
 *
 * @param[inout] decoder decoder
 *
 * @return an json-c object or NULL if error
 * @retval NULL      Error setted in errno.
 * @retval -EPROTO   Not a valid MessagePack stream
 * @retval -ENOTSUP  Unsupported MessagePack stream data
 * @retval -ENOMSG   Invalid MessagePack stream data type or range
 * @retval -EMSGSIZE Not enough space to complete operation
 * @retval -ENOMEM   Memory allocation failure
 *
 * @warning
 * - @p decoder *MUST* have been initialized using dpack_decoder_init_buffer()
 *   or dpack_decoder_init_skip_buffer() before calling this function. Result is
 *   undefined otherwise.
 * - When compiled with the #CONFIG_${lib.id.upper()}_ASSERT build option
 *   disabled and @p decoder is in error state before calling this function,
 *   result is undefined. An assertion is triggered otherwise.
 *
 * @see
 * - dpack_decoder_init_buffer()
 * - dpack_decoder_init_skip_buffer()
 */
extern struct json_object *
${decode}_to_json(struct dpack_decoder * decoder)
__${pre}nonull(1) __nothrow __warn_result ${deprecated};

/**
 * Encode an json ${type} according to the MessagePack format
 * @param[inout] encoder encoder
 * @param[in]    object json-object value to encode
 *
 * @return an errno like error code
 * @retval 0         Success
 * @retval -EMSGSIZE Not enough space to complete operation
 * @retval -ENOMEM   Memory allocation failure
 * @retval -EINVAL   Invalid value
 *
 * @warning
 * - @p encoder *MUST* have been initialized using dpack_encoder_init_buffer()
 *   before calling this function. Result is undefined otherwise.
 * - When compiled with the #CONFIG_${lib.id.upper()}_ASSERT build option
 *   disabled and @p decoder is in error state before calling this function,
 *   result is undefined. An assertion is triggered otherwise.
 *
 * @see
 * - dpack_encode_${dpack}()
 * - dpack_encoder_init_buffer()
 */
extern int
${encode}_from_json(struct dpack_encoder * encoder,
		    struct json_object * object)
__${pre}nonull(1, 2) __nothrow __warn_result ${deprecated};
#end if

/*
 * Initialize an empty stroll_lvstr_.
 * @param[out] value Length-Value String
 *
 * @return an arrno like error code
 * @retval 0         Success
 *
 * @see
 * - stroll_lvstr_init()
 */
static inline int __${pre}nonull(1) __warn_result ${deprecated}
${init}(${type} * value)
{
	${assert_fn}(value);

	stroll_lvstr_init(value);
	return 0;
};

/*
 * Finalize an empty stroll_lvstr_.
 * @param[inout] value Length-Value String
 *
 * @see
 * - stroll_lvstr_fini()
 */
static inline void __${pre}nonull(1) ${deprecated}
${fini}(${type} * value)
{
	${assert_fn}(value);

	stroll_lvstr_fini(value);
};
## ex: filetype=c
