int __${pre}nonull(1, 2) __warn_result
${parent.pid}_get_${id}(${parent.type} *repo, ${object.type} *value)
{
	${assert_fn}(repo);
	${assert_fn}(value);
	${assert_fn}(repo->buf);

	struct dpack_decoder  dec;
	int ret;
	ssize_t len;

	ufile_lseek(repo->${id}, SEEK_SET, 0);
	len = ufile_read(repo->${id}, repo->buf,
	                 ${object.elem.pid.upper()}_PACKED_SIZE_MAX);
	if (len < 0)
		return (int)len;

	dpack_decoder_init_buffer(&dec, (const char *)repo->buf, (size_t)len);
	ret = ${object.decode}(&dec, value);
	dpack_decoder_fini(&dec);
	return ret;
}

#set $nonull = '1, 2' if $object.asterisk else '1'
int __${pre}nonull($nonull) __warn_result
${parent.pid}_update_${id}(${parent.type} *repo,
                           const ${object.type} ${object.asterisk}value)
{
	${assert_fn}(repo);
	${assert_fn}(value);
	${assert_fn}(repo->buf);

	struct dpack_encoder enc;
	int ret;
	ssize_t len;

	dpack_encoder_init_buffer(&enc, repo->buf,
	                          ${object.elem.pid.upper()}_PACKED_SIZE_MAX);
	ret = ${object.encode}(&enc, value);
	dpack_encoder_fini(&enc, DPACK_DONE);
	if (ret)
		return ret;

	ufile_lseek(repo->${id}, SEEK_SET, 0);
	len = ufile_write(repo->${id}, repo->buf,
	                  (size_t)dpack_encoder_space_used(&enc));
	if (len < 0)
		return (int)len;

	return 0;
}

## ex: filetype=c
