struct json_object *
${parent.pid}_enc_${id}_to_json(struct hed_repo *repo)
{
	${assert_fn}(repo);

	struct dpack_decoder_buffer dec_buf;
	struct dpack_decoder * dec = (struct dpack_decoder *)&dec_buf;
	struct json_object * array;
	struct json_object * obj;
	struct json_object * tmp;
	struct hed_repo_iter * iter;
	int ret;
	size_t klen;
	size_t vlen;
	uint8_t * kdata;
	uint8_t * vdata;

	array = json_object_new_array();
	if (!array)
		return NULL;

	iter = ${parent.pid}_${id}_create_iter(repo);
	if (!iter)
		return array;

	do {
		ret = hed_repo_step(iter, &kdata, &klen, &vdata, &vlen);
		if (ret < 0)
			goto close;

		obj = json_object_new_object();
		if (!obj)
			goto close;

		dpack_decoder_init_buffer(&dec_buf, kdata, klen);
		tmp = ${key.decode}_to_json(dec);
		dpack_decoder_fini(dec);
		if (!tmp)
			goto putobj;

		if(json_object_object_add(obj, "key", tmp))
			goto putobj;

		dpack_decoder_init_buffer(&dec_buf, vdata, vlen);
		tmp = ${object.decode}_to_json(dec);
		dpack_decoder_fini(dec);
		if (!tmp)
			goto putobj;

		if(json_object_object_add(obj, "value", tmp))
			goto putobj;

		if (json_object_array_add(array, obj))
			goto putobj;

	} while (ret == EAGAIN);

	return array;
putobj:
	json_object_put(obj);
close:
	${parent.pid}_${id}_destroy_iter(iter);
putarray:
	json_object_put(array);
	return NULL;
}
## ex: filetype=c
