int __${pre}nonull(1, 2) __warn_result
${parent.pid}_get_${id}(struct hed_repo *repo, ${object.type} *value)
{
	${assert_fn}(repo);
	${assert_fn}(value);

	struct dpack_decoder  dec;
	int ret;
	uint8_t * data;
	size_t len;

	ret = hed_repo_get(repo, "${name}",
	                   (const uint8_t *)".", 1,
	                   &data, &len);
	if (ret)
		return ret;

	dpack_decoder_init_buffer(&dec, (const char *)data, len);
	ret = ${object.decode}(&dec, value);
	dpack_decoder_fini(&dec);
	return ret;
}

#set $nonull = '1, 2' if $object.asterisk else '1'
int __${pre}nonull($nonull) __warn_result
${parent.pid}_update_${id}(struct hed_repo *repo,
                           const ${object.type} ${object.asterisk}value)
{
	${assert_fn}(repo);
#if $object.asterisk
	${assert_fn}(value);
#end if

	struct dpack_encoder enc;
	int ret;
	uint8_t data[${object.elem.pid.upper()}_PACKED_SIZE_MAX];

	dpack_encoder_init_buffer(&enc, (char *)data,
	                          ${object.elem.pid.upper()}_PACKED_SIZE_MAX);
	ret = ${object.encode}(&enc, value);
	dpack_encoder_fini(&enc, DPACK_DONE);
	if (ret)
		return ret;

	return hed_repo_update(repo, "${name}",
	                       (const uint8_t *)".", 1,
	                       data, (size_t)dpack_encoder_space_used(&enc));
}

## ex: filetype=c
