static void __${pre}nonull(1)
${pre}close(${type} * repo)
{
	${assert_fn}(repo);
#for $e in $entries
#if $e.type == 'object'

	if (repo->${e.id} > 0)
		ufile_close(repo->${e.id});

	repo->${e.id} = -1;
#else
	if (repo->${e.id})
		gdbm_close(repo->${e.id});

	repo->${e.id} = NULL;
#end if
#end for
}

static int __${pre}nonull(1) __warn_result
${pre}open(${type} * repo)
{
	${assert_fn}(repo);

	int ret;
	char *name;
	size_t len = stroll_lvstr_len(&repo->path) + ${max_path};

	name = malloc(len * sizeof(char));
	if (!name)
		return -ENOMEM;
#for $e in $entries

	snprintf(name, len, "%s/${e.id}.tdb",
	         stroll_lvstr_cstr(&repo->path));
#if $e.type == 'object'
	${assert_fn}(repo->${e.id} < 0);
	repo->${e.id} = ufile_new(name, O_RDWR | O_CLOEXEC, 0600);
	if (repo->${e.id} < 0) {
		ret = repo->${e.id};
		goto error;
	}
#else

	repo->${e.id} = gdbm_open(name, (int)stroll_page_size(),
	                          GDBM_WRCREAT | GDBM_CLOEXEC | GDBM_XVERIFY,
	                          0600, NULL);
	if (!repo->${e.id}) {
		ret = -gdbm_errno;
		goto error;
	}
#end if
#end for

	free(name);
	return 0;
error:
	free(name);
	${pre}close(repo);
	return ret;
}

int __${pre}nonull(1, 2) __warn_result
${init}(${type} * repo, const char * path)
{
	${assert_fn}(repo);
	${assert_fn}(path);
	${assert_fn}(strlen(path));

	int ret;

#for $e in $entries
#if $e.type == 'object'
	repo->${e.id} = -1;
#else
	repo->${e.id} = NULL;
#end if
#end for

	ret = stroll_lvstr_init_dup(&repo->path, path);
	if (ret)
		return ret;
	
	ret = ${pre}open(repo);
	if (ret)
		stroll_lvstr_fini(&repo->path);

	return ret;
}

void __${pre}nonull(1)
${fini}(${type} * repo)
{
	${pre}close(repo);
	stroll_lvstr_fini(&repo->path);
}

int __${pre}nonull(1)
${pre}sync_${id}(${type} * repo)
{
	${assert_fn}(repo);

	int ret;
#for $e in $entries
#if $e.type == 'object'

	${assert_fn}(repo->${e.id} >= 0);
	ret = ufile_sync(repo->${e.id});
	if (ret)
		return ret;
#else

	${assert_fn}(repo->${e.id});
	if (gdbm_sync(repo->${e.id}))
		return -gdbm_errno;
#end if
#end for

	return 0;
}

int __${pre}nonull(1)
${pre}reload_${id}(${type} * repo)
{
	${assert_fn}(repo);

	${pre}close(repo);
	return ${pre}open(repo);
}

#for $e in $entries
${e.getDefinition()}
#end for
## ex: filetype=c
