extern int
${pre}open_${id}(struct hed_repo * repo, const char * path, int flags, mode_t mode)
 __${pre}nonull(1, 2) __warn_result;

static inline int __${pre}nonull(1) __warn_result
${pid}_start(struct hed_repo * repo)
{
	${assert_fn}(repo);

	return hed_repo_start(repo);
}

static inline inline int __${pre}nonull(1) __warn_result
${pid}_commit(struct hed_repo * repo)
{
	${assert_fn}(repo);

	return hed_repo_commit(repo);
}

static inline void __${pre}nonull(1)
${pid}_abort(struct hed_repo * repo)
{
	${assert_fn}(repo);

	hed_repo_abort(repo);
}

static inline void __${pre}nonull(1)
${pre}close_${id}(struct hed_repo * repo)
{
	${assert_fn}(repo);

	hed_repo_close(repo);
}

extern int
${pre}reload_${id}(struct hed_repo * repo)
 __${pre}nonull(1) __warn_result;

extern int
${pre}rollback_${id}(struct hed_repo * repo)
__${pre}nonull(1) __warn_result;
#if $json

extern struct json_object *
${pid}_to_json(struct hed_repo * repo)
 __${pre}nonull(1) __warn_result;
#end if

#for $e in $entries:
${e.getDeclaration()}
#end for
## ex: filetype=c
