struct ${pid}_iter {
	${parent.type} *repo;
	MDB_cursor *cursor;
};

#set $nonull = '1, 2, 3' if $key.asterisk else '1, 2'
extern int
${parent.pid}_get_${id}(${parent.type} *repo,
                        ${key.type} ${key.asterisk}key,
                        ${object.type} *value)
	__${pre}nonull($nonull) __warn_result;

#set $nonull  = '1'
#set $nonull += ', 2' if $key.asterisk else ''
#set $nonull += ', 2' if $object.asterisk else ''
extern int
${parent.pid}_update_${id}(${parent.type} *repo,
                           ${key.type} ${key.asterisk}key,
                           const ${object.type} ${object.asterisk}value)
	__${pre}nonull($nonull) __warn_result;

#set $nonull = '1, 2' if $key.asterisk else '1'
extern int
${parent.pid}_del_${id}(${parent.type} *repo,
                           ${key.type} ${key.asterisk}key)
	__${pre}nonull($nonull) __warn_result;

extern ssize_t
${parent.pid}_${id}_count(${parent.type} *repo)
	__${pre}nonull(1) __warn_result;

extern struct ${pid}_iter *
${parent.pid}_${id}_create_iter(${parent.type} *repo)
	__${pre}nonull(1) __warn_result;

extern int
${parent.pid}_${id}_step(struct ${pid}_iter *iter,
                         ${key.type} *key,
                         ${object.type} *value)
	__${pre}nonull(1) __warn_result;

extern void
${parent.pid}_${id}_destroy_iter(struct ${pid}_iter *iter)
	__${pre}nonull(1);

#if $json
extern struct json_object *
${parent.pid}_enc_${id}_to_json(${parent.type} *repo)
	__${pre}nonull(1) __warn_result;
#end if
## ex: filetype=c
