
#define ${pid.upper()}_MAX_PAYLOAD $getMaxSize()

${type} {
	char                *buf;
#for $e in $entries
#if $e.type == 'object'
	int                  ${e.id};
#else
	GDBM_FILE            ${e.id};
#end if
#end for
	struct stroll_lvstr  path;
	int                  flags;
	mode_t               mode;
};

extern int
${pre}open_${id}(${type} * repo, const char * path, int flags, mode_t mode)
 __${pre}nonull(1, 2) __warn_result;

extern void
${pre}close_${id}(${type} * repo)
 __${pre}nonull(1);

extern int
${pre}sync_${id}(${type} * repo)
 __${pre}nonull(1) __warn_result;

extern int
${pre}reload_${id}(${type} * repo)
 __${pre}nonull(1) __warn_result;
#if $json

extern struct json_object *
${pid}_to_json(${type} * repo)
 __${pre}nonull(1) __warn_result;
#end if

#for $e in $entries:
${e.getDeclaration()}
#end for
## ex: filetype=c
