#for $e in $req

extern int
${e.pre}srv_dispatch_${e.id}(struct galv_rpc_msg *msg)
	__${pre}nonull(1) __nothrow __warn_result;

extern int
${e.pre}clt_dispatch_${e.id}(struct galv_rpc_clnt_msg *msg, int event)
	__${pre}nonull(1) __nothrow __warn_result;

#if 'response' in $e

typedef int (${e.pre}clt_${e.id}_fn)(void * ctx, uint32_t status,
                                    ${e.response.type} ${e.response.asterisk}req);

extern int
${e.pre}ans_${e.id}(struct galv_rpc_msg *msg,
                    uint32_t status,
                    ${e.response.type} ${e.response.asterisk}req)
	__${pre}nonull(1) __nothrow __warn_result;
#else

typedef int (${e.pre}clt_${e.id}_fn)(void *ctx, uint32_t status);

extern int
${e.pre}ans_${e.id}(struct galv_rpc_msg *msg,
                    uint32_t status)
	__${pre}nonull(1) __nothrow __warn_result;
#end if
#if 'request' in $e
#set $nl = '1, 2' if $e.request.asterisk else 1

extern int
${e.pre}srv_${e.id}(struct galv_rpc_msg *msg,
                    ${e.request.type} ${e.request.asterisk}req)
	__${pre}nonull(${nl}) __nothrow __warn_result;

#set $nl = '1, 2, 3' if $e.request.asterisk else '1, 3'
extern int
${e.pre}req_${e.id}(struct galv_rpc_clnt *client,
                    ${e.request.type} ${e.request.asterisk}req,
                    ${e.pre}clt_${e.id}_fn *cb,
                    void * ctx)
	__${pre}nonull(${nl}) __nothrow __warn_result;
#else

extern int
${e.pre}srv_${e.id}(struct galv_rpc_msg *msg)
	__${pre}nonull(1) __nothrow __warn_result;

extern int
${e.pre}req_${e.id}(struct galv_rpc_clnt *client,
                    ${e.pre}clt_${e.id}_fn *cb,
		    void * ctx)
	__${pre}nonull(1, 2) __nothrow __warn_result;
#end if

#if 'request' in $e and 'response' in $e
#set $nl = '1'
#set $nl += ', 2' if $e.request.asterisk else ''
#set $nl += ', 3'
extern int
${e.pre}rsync_${e.id}(struct galv_rpc_clnt *client,
                    ${e.request.type} ${e.request.asterisk}request,
                    ${e.response.type} *response)
	__${pre}nonull(${nl}) __nothrow __warn_result;
#elif 'request' in $e
#set $nl = '1, 2' if $e.request.asterisk else 1
extern int
${e.pre}rsync_${e.id}(struct galv_rpc_clnt *client,
                    ${e.request.type} ${e.request.asterisk}request)
	__${pre}nonull(${nl}) __nothrow __warn_result;
#elif 'response' in $e
extern int
${e.pre}rsync_${e.id}(struct galv_rpc_clnt *client,
                    ${e.response.type} *response)
	__${pre}nonull(1, 2) __nothrow __warn_result;
#else
extern int
${e.pre}rsync_${e.id}(struct galv_rpc_clnt *client)
	__${pre}nonull(1) __nothrow __warn_result;
#end if
#end for
#for $e in $ntfy

extern int
${e.pre}srv_dispatch_${e.id}(struct galv_rpc_msg *msg)
	__${pre}nonull(1) __nothrow __warn_result;
#if 'request' in $e
#set $nl = '1, 2' if $e.request.asterisk else 1

extern int
${e.pre}srv_${e.id}(struct galv_rpc_msg *msg,
                    ${e.request.type} ${e.request.asterisk}req)
	__${pre}nonull(${nl}) __nothrow __warn_result;

extern int
${e.pre}ntf_${e.id}(struct galv_rpc_conn *conn,
                        ${e.request.type} ${e.request.asterisk}req)
	__${pre}nonull(${nl}) __nothrow __warn_result;
#else

extern int
${e.pre}srv_${e.id}(struct galv_rpc_msg *msg)
	__${pre}nonull(1) __nothrow __warn_result;

extern int
${e.pre}ntf_${e.id}(struct galv_rpc_conn *conn)
	__${pre}nonull(1) __nothrow __warn_result;
#end if
#end for
#for $e in $evnt

extern int
${e.pre}clt_dispatch_${e.id}(struct galv_rpc_clnt_msg *msg, int event)
	__${pre}nonull(1) __nothrow __warn_result;
#if 'request' in $e
#set $nl = '1, 2' if $e.request.asterisk else 1

extern int
${e.pre}clt_${e.id}(struct galv_rpc_conn *conn,
                    ${e.request.type} ${e.request.asterisk}req)
	__${pre}nonull(${nl}) __nothrow __warn_result;

extern int
${e.pre}ntf_${e.id}(struct galv_rpc_conn *conn,
                    ${e.request.type} ${e.request.asterisk}req)
	__${pre}nonull(${nl}) __nothrow __warn_result;
#else

extern int
${e.pre}clt_${e.id}(struct galv_rpc_conn *conn)
	__${pre}nonull(1) __nothrow __warn_result;

extern int
${e.pre}ntf_${e.id}(struct galv_rpc_conn *conn)
	__${pre}nonull(1) __nothrow __warn_result;
#end if
#end for

#define ${pre.upper()}SRV_MAX_PAYLOAD $getSrvMaxSize()

#define ${pre.upper()}CLT_MAX_PAYLOAD $getCltMaxSize()

extern const struct hed_rpc_factory      ${pre}srv_factory;
extern const struct galv_rpc_accept_conf ${pre}srv_conf;

extern const struct galv_rpc_connect_conf ${pre}clt_conf;

#if $json
typedef int (${pre}ans_json_fn)(int status,
                                struct json_object * object,
                                void *ctx);

extern int
${pre}req_from_json(struct galv_rpc_clnt * client,
                    struct json_object * object,
                    ${pre}ans_json_fn * cb,
                    void * ctx)
	__${pre}nonull(1, 2, 3) __nothrow __warn_result;

extern int
${pre}rsync_from_json(struct galv_rpc_clnt * client,
                      struct json_object * request,
                      struct json_object * response)
	__${pre}nonull(1, 2, 3) __nothrow __warn_result;
#end if
## ex: filetype=c
