#for $e in $enum

export enum ${e.pid} {
#for $l in $e.entries
	${l.id} = "${l.string}",
#end for
};
#end for

export enum rpc {
#for $r in $rpc
	${r[0]} = "${r[1]}",
#end for
};
#for $e in $struct

export type ${e.pid} = {
#for $l in $e.pids
#if 'repeated' in $l[0]
	${l[0].id}: Array<${l[1]}>;
#else
	${l[0].id}: ${l[1]};
#end if
#end for
};
#end for
#for $r in $rpc

type rpc_${r[0]}_req = {req:rpc.${r[0]}, param:${r[2]}};
export type ${r[0]} = ${r[3]};
#end for

export type rpc_req = #slurp
#echo ' |\n\t'.join([f"rpc_{r[0]}_req" for r in $rpc]) + ";"
## ex: filetype=typescript
